
<span (click)="$event.stopPropagation();">
    <input class="fn-input ipttime" placeholder="yyyy-mm-dd" (click)="toggleStart(startDateforSearch)" (ngModelChange)="setEndInterval($event)"
        [maxDate]="maxStartDate" name="startDateforSearch" [(ngModel)]="startDate" tabIndex="-1" ngbDatepicker #startDateforSearch="ngbDatepicker" [disabled]="static">
        <span>-</span>
    <input class="fn-input ipttime" placeholder="yyyy-mm-dd"  (click)="toggleEnd(endDateforSearch)" (ngModelChange)="setStrartInterval($event)"
        [minDate]="minEndDate" [maxDate]="maxEndDate" name="endDateforSearch" [(ngModel)]="endDate" tabIndex="-1" ngbDatepicker #endDateforSearch="ngbDatepicker" [disabled]="static">
</span>
