.proceduresDetial{
	width:100%;
	height: 100%;
	padding: 0 15px 15px 15px;
}

.proceduresDetial-content{
	width:100%;
	padding: 15px;
	background: #fff;
	height: 100%;
}
.proceduresDetial-content .content-header{
	padding:10px;
	padding-right: 0px;
	font-size:13px;
}
.proceduresDetial-content .content-header .goBack{
	font-size: 14px;
}
#content-main{
    width:100%;
	height:500px;
}
.proceduresDetial .chooseProcedures{
	width:224px;
	height:40px;
	line-height: 40px;
	font-size: 13px;
	border: 1px solid #ddd;
}
.proceduresDetial .clinicType{
	width:111px;
	text-align: center;
	color: #212223;
	height: 38px;
	cursor: pointer;
}

.proceduresDetial .procedures-content-main{
	width: 100%;
	margin-top:10px;
}
.proceduresDetial .obejct-kind{
	width:462px;
	height:40px;
	border-left:1px solid #ddd;
}
.proceduresDetial .fn-object-style{
	width:115px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 13px;
	color: #4C4E51;
	background: #fff;
	border:1px solid #ddd;
	border-left: none;
	border-bottom: none;
	cursor: pointer;
}
.proceduresDetial .active{
	background: #4EB7E0;
	color: #fff;
}
.recipeDetails{
	position:relative;
}
.switchFlag{
	width:14px;
	height: 14px;
	background: #20BC56;
	border-radius: 14px;
	position:absolute;
	top:8px;
	left:-7px;
}
.switcTime{
	margin-left:20px;
	font-size: 15px;
	color:#000;
}
.table tr th {
	border:1px solid #ddd;
	text-align: center;
	background: #f2f2f2;
	font-weight: normal;
}
.table tr td{
	border:1px solid #ddd;
	text-align: center;
	background: #fff;
}
.table a{
	color:blue;
}