.table{
	margin-bottom: 0px;
}

.table thead th{
	vertical-align: middle;
    border: 1px solid #dfdfdf;
    background: #f9f9f9;
    padding: 0 0.75rem;
    text-align: center;
    font-weight: normal;
}

.table td{
	vertical-align: middle;
	font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #dfdfdf;
    text-align: center;
}
.table a{
    color:blue;
}
