@charset "utf-8";
.managementRulesHeaderBox{
	padding: 20px 0;
	font-family: STHeitiSC-Medium;
	font-size: 13px;
	color: #515253;
}
.managementRulesHeaderBox .selects{
	display: inline-block;
}
.managementRulesHeaderBox .selects.right{
	float: right;
}
.right{
	float: left;
}
.selects .control-label{
	font-weight: normal;
}
.control-label{
	margin-left: 10px;
}
/*表格内容*/
#noBorder {
	border:none;
}
#noBorder>*>tr>td{
	border: none;
	vertical-align: center;
}
.InterventionTableBox{
	width: 100%;
}
.InterventionTableBox td{
	height: 30px;	
}
.alert-message-details-th tr {
    border: 1px solid #F9F9F9;
}
.table{
	margin-bottom: 0px;
}
.table thead th{
	vertical-align: middle;
    border: 1px solid #dfdfdf;
    background: #f9f9f9;
    padding: 0 0.75rem;
    text-align: center;
    font-weight: normal;
}
.table td{
	vertical-align: middle;
	font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #dfdfdf;
    text-align: center;
}

