<div  class="proceduresDetial" style="min-height: calc(100vh - 80px);" >
	<div>
		<div class="proceduresDetial-content" style="min-height: calc(100vh - 110px)">
			<div class="content-header">
				<div class="fn-TAC fn-FWB fn-FS15 fn-H35 fn-LH35">住院详情</div>
				<div class="chooseProcedures fn-clear" style="width: 112px;">
					<span class="fn-display-inlineBlock clinicType active">相关医嘱</span>
				</div>
				<div style="width:100%;font-size:13px;background: #F5F7FA;padding-bottom: 20px;padding-top: 20px;">
					<table class="fn-table fn-table-text" width="100%">
						<tr>
							<td align="right" width="10%">患者号：</td>
							<td width="15%">{{visitInfo.patientNumber}}</td>
							<td align="right" width="10%">姓名：</td>
							<td width="15%">{{visitInfo.name}}</td>
							<td align="right" width="10%">性别：</td>
							<td width="15%">{{visitInfo.sex=='1'?'男':'女'}}</td>
							<td align="right" width="10%">出生日期：</td>
							<td width="15%">{{visitInfo.dateOfBirth | date:"yyyy-MM-dd"}}</td>
						</tr>
						<tr>
							<td align="right" width="10%">身高：</td>
							<td width="15%">{{visitInfo.height}}cm</td>
							<td align="right" width="10%">体重：</td>
							<td width="15%">{{visitInfo.weight}}kg</td>
							<td align="right" width="10%">参保险种：</td>
							<td width="15%">
								<span *ngIf = "visitInfo.insurance == '01'">城镇职工基本医疗保险</span>
								<span *ngIf = "visitInfo.insurance == '02'">城镇居民基本医疗保险</span>
								<span *ngIf = "visitInfo.insurance == '03'">新型农村合作医疗</span>
							</td>
							<!--<td width="15%" *ngIf = "visitInfo.insurance == '1'">城镇职工基本医疗保险</td>
							<td width="15%" *ngIf = "visitInfo.insurance == '2'">城镇居民基本医疗保险</td>
							<td width="15%" *ngIf = "visitInfo.insurance == '3'">新型农村合作医疗</td>-->
							<td align="right" width="10%">人员类别：</td>
							<td width="15%">{{visitInfo.personCategory}}</td>
						</tr>
						<tr>
							<td align="right" width="10%">就诊医院：</td>
							<td width="15%">{{visitInfo.hospital}}</td>
							<td align="right" width="10%">医院类型：</td>
							<td width="15%">
								<span *ngIf = "visitInfo.hospitalCategory == '1'">综合医院</span>
								<span *ngIf = "visitInfo.hospitalCategory == '2'">中西医结合医院</span>
								<span *ngIf = "visitInfo.hospitalCategory == '3'">中医医院</span>
								<span *ngIf = "visitInfo.hospitalCategory == '4'">民族医院</span>
								<span *ngIf = "visitInfo.hospitalCategory == '5'">专科医院</span>
							</td>
							<td align="right" width="10%">医生职称：</td>
							<td width="15%">{{docTitle}}</td>
							<td align="right" width="10%">入院科室：</td>
							<td width="15%">{{visitInfo.department	}}</td>
						</tr>
						<tr>
							<td align="right" width="10%">诊断结果：</td>
							<td width="15%">{{visitInfo.diagnosis}}</td>
							<td align="right" width="10%">过敏记录：</td>
							<td width="15%">{{visitInfo.allergy}}</td>
							<td align="right" width="10%">是否怀孕：</td>
							<td width="15%">{{visitInfo.isPregnant==1?'否':'是'}}</td>
							<td align="right" width="10%">孕产周期：</td>
							<td width="15%">{{visitInfo.pregnancy}}周</td>
						</tr>
						<tr>
							<td align="right" width="10%">数据来源：</td>
							<td width="15%" *ngIf = "visitInfo.source == '1'">门诊相关</td>
							<td width="15%" *ngIf = "visitInfo.source == '2'">住院相关</td>
							<td align="right" width="10%">病案号：</td>
							<td width="15%">{{visitInfo.inWardBedNo}}</td>
							<td align="right" width="10%">入院时间：</td>
							<td width="15%">{{visitInfo.inWardTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
							
						</tr>
					</table>
				</div>
		</div>
		<div class="procedures-content-main">
			<div class="obejct-kind fn-clear">
				<span class="fn-display-inlineBlock fn-object-style" style="background: #4EB7E0;color: #fff;" *ngIf="isDrugTitleShow" (click) = 'defaultrugsShow()'>药品</span>
				<!--<span class="fn-display-inlineBlock fn-object-style" [class.active]="type == 'drug'" (click)="type='drug';" *ngIf="isDrugsTitleShow">药品</span>
				<span class="fn-display-inlineBlock fn-object-style" [class.active]="type == 'object'" (click)="type='object';isDrugTableShow=false;isDrugTitleShow=false;isDrugsTitleShow=true;">项目</span>
				<span (click)="type='disease';isDrugTableShow=false;isDrugTitleShow=false;isDrugsTitleShow=true;" [class.active]="type == 'disease'" class="fn-display-inlineBlock fn-object-style">疾病</span>
				<span (click)="type='material';isDrugTableShow=false;isDrugTitleShow=false;isDrugsTitleShow=true;" [class.active]="type == 'material'" class="fn-display-inlineBlock fn-object-style">材料</span>-->
				<span class="fn-display-inlineBlock fn-object-style" (click)='drugsShow()' *ngIf="isDrugsTitleShow">药品</span>
				<span class="fn-display-inlineBlock fn-object-style" (click)='drugsShow()' *ngIf="isDrugsBackgroundShow" style="background: #4EB7E0;color: #fff;">药品</span>
				
				<span class="fn-display-inlineBlock fn-object-style" (click)='itemsShow()' *ngIf="isItemsTitleShow" >项目</span>
				<span class="fn-display-inlineBlock fn-object-style" (click)='itemsShow()' *ngIf="isItemsBackgroundShow" style="background: #4EB7E0;color: #fff;">项目</span>
				<span class="fn-display-inlineBlock fn-object-style" (click)='diseasesShow()' *ngIf="isDiseaseTitleShow" >疾病</span>
				<span class="fn-display-inlineBlock fn-object-style" (click)='diseasesShow()' *ngIf="isDiseaseBackgroundShow"  style="background: #4EB7E0;color: #fff;">疾病</span>
				<span class="fn-display-inlineBlock fn-object-style" (click)='materialsShow()' *ngIf="isMaterialTitleShow" >材料</span>
				<span class="fn-display-inlineBlock fn-object-style" (click)='materialsShow()' *ngIf="isMaterialBackgroundShow"  style="background: #4EB7E0;color: #fff;">材料</span>
			</div>
			<div class="drugTable" style="overflow:auto;width: 100%;height: calc(100vh - 493px);" *ngIf="isDrugDefaultTableShow">
				<table class="table" style="width: 1900px;">
					 <thead>
		                <tr style="height: 45px;">
		                    <th width="8%">医嘱时间</th>
		                    <th width="8%">医嘱科室</th>
		                    <th width="6%">医嘱医生</th>
		                    <th width="6%">医生职称</th>
		                    <th width="8%">医嘱类型</th>
		                    <th width="4%">组号</th>
		                    <th width="6%">药品名称</th>
		                    <th width="4%">剂型</th>
		                    <th width="4%">产品规格</th>
		                    <th width="4%">发药数量</th>
		                    <th width="4%">给药剂量</th>
		                    <th width="6%">给药途径</th>
		                    <th width="4%">给药频率</th>
		                    <th width="8%" style="color: red;">给药时机</th>
		                    <th width="4%">药品单价</th>
		                    <th width="5%" style="color: red;">报销比例</th>
		                    <th width="5%">总价</th>
		                    <th width="10%" style="color: red;">备注</th>
		                </tr>
					</thead>
					<tbody>
					  <tr *ngFor="let item of drugInfo; let i = index;">
						<td>{{item.optTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
						<td>{{item.deptName}}</td>
						<td>{{item.docName}}</td>
						<td>{{item.docTitle}}</td>
						<!--<td>{{item.orderType}}</td>-->
						<td>
								<span *ngIf = "item.orderType == '1'">长期医嘱</span>
								<span *ngIf = "item.orderType == '2'">临时医嘱</span>
								<span *ngIf = "item.orderType == '3'">出院带药</span>
								<span *ngIf = "item.orderType == '4'">出院检治</span>
								<span *ngIf = "item.orderType == '5'">肠外营养</span>
								<span *ngIf = "item.orderType == '9'">其他</span>
						</td>
						<td>{{item.groupNo}}</td>
						<td>{{item.drugName}}</td>
						<td>{{item.dosageForm}}</td>
						<td>{{item.productSpecification}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.drugDose}}</td>
						<td>{{item.drugAdminRouteName}}</td>
						<td>{{item.drugUsingFreq}}</td>
						<td></td>
						<td>{{item.unitPrice?item.unitPrice+'元':''}}</td>
						<td></td>
						<td>{{item.feeTotal?item.feeTotal+'元':''}}</td>
						<td></td>
					  </tr>
					  <tr *ngIf="drugInfo && drugInfo.length == 0">
						<td colspan="18">没有找到相关数据</td>
					  </tr>	
					</tbody>
				</table>
			</div>
			<div class="drugTable" *ngIf="isDrugsTableShow" style="overflow:auto;width: 100%;height: calc(100vh - 493px);">
				<table class="table" style="width: 1900px;">
					 <thead>
		                <tr style="height: 45px;">
		                    <th width="8%">医嘱时间</th>
		                    <th width="8%">医嘱科室</th>
		                    <th width="6%">医嘱医生</th>
		                    <th width="6%">医生职称</th>
		                    <th width="8%">医嘱类型</th>
		                    <th width="4%">组号</th>
		                    <th width="6%">药品名称</th>
		                    <th width="4%">剂型</th>
		                    <th width="4%">产品规格</th>
		                    <th width="4%">发药数量</th>
		                    <th width="4%">给药剂量</th>
		                    <th width="6%">给药途径</th>
		                    <th width="4%">给药频率</th>
		                    <th width="8%" style="color: red;">给药时机</th>
		                    <th width="4%">药品单价</th>
		                    <th width="5%" style="color: red;">报销比例</th>
		                    <th width="5%">总价</th>
		                    <th width="10%" style="color: red;">备注</th>
		                </tr>
					</thead>
					<tbody>
					  <tr *ngFor="let item of drugInfo; let i = index;">
						<td>{{item.optTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
						<td>{{item.deptName}}</td>
						<td>{{item.docName}}</td>
						<td>{{item.docTitle}}</td>
						<!--<td>{{item.orderType}}</td>-->
						<td>
							<span *ngIf = "item.orderType == '1'">长期医嘱</span>
							<span *ngIf = "item.orderType == '2'">临时医嘱</span>
							<span *ngIf = "item.orderType == '3'">出院带药</span>
							<span *ngIf = "item.orderType == '4'">出院检治</span>
							<span *ngIf = "item.orderType == '5'">肠外营养</span>
							<span *ngIf = "item.orderType == '9'">其他</span>
						</td>
						<td>{{item.groupNo}}</td>
						<td>{{item.drugName}}</td>
						<td>{{item.dosageForm}}</td>
						<td>{{item.productSpecification}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.drugDose}}</td>
						<td>{{item.drugAdminRouteName}}</td>
						<td>{{item.drugUsingFreq}}</td>
						<td></td>
						<td>{{item.unitPrice?item.unitPrice+'元':''}}</td>
						<td></td>
						<td>{{item.feeTotal?item.feeTotal+'元':''}}</td>
						<td></td>
					  </tr>
					  <tr *ngIf="drugInfo && drugInfo.length == 0">
						<td colspan="18">没有找到相关数据</td>
					  </tr>	
					</tbody>
				</table>
			</div>
			<div class="objectTable" *ngIf="isItemsTableShow" style="overflow:auto;width: 100%;height: calc(100vh - 493px);">
				<table class="table" style="width: 1600px;">
					 <thead>
		                <tr style="height: 45px;">
		                    <th width="11%">医嘱时间</th>
		                    <th width="8%">医嘱科室</th>
		                    <th width="8%">医嘱医生</th>
		                    <th width="8%">医生职称</th>
		                    <th width="8%">名称</th>
		                    <th width="5%">剂量单位</th>
		                    <th width="8%" style="color: red;">频次</th>
		                    <th width="8%" style="color: red;">关联材料</th>
		                    <th width="5%">单价</th>
		                    <th width="5%">数量</th>
		                    <th width="8%">总金额</th>
		                    <th width="8%" style="color: red;">报销金额</th>
		                    <th width="10%" style="color: red;">备注</th>
		                    
		                </tr>
					</thead>
					<tbody>
					  <tr *ngFor="let item of itemInfo;let i = index;">
						<td>{{item.optTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
						<td>{{item.deptName}}</td>
						<td>{{item.recipeDocName}}</td>
						<td>{{item.recipeDocTitle}}</td>
						<td>{{item.name}}</td>
						<td>{{item.unit}}</td>
						<td></td>
						<td></td>
						<td>{{item.price?item.price+'元':''}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.totalAmount?item.totalAmount+'元':''}}</td>
						<td></td>
						<td></td>
					  </tr>	
					  <tr *ngIf="itemInfo && itemInfo.length == 0">
						<td colspan="13">没有找到相关数据</td>
					  </tr>
					</tbody>
				</table>
			</div>
			<div class="diseaseTable" *ngIf="isDiseasesTableShow" style="overflow:auto;width: 100%;height: calc(100vh - 493px);">
				<table class="table">
					 <thead>
		                <tr style="height: 45px;">
		                    <th width="15%">时间</th>
		                    <th width="15%">名称</th>
		                    <th width="30%" style="color: red;">诊疗结果</th>
		                    <th width="25%">疾病编码</th>
		                    <th width="15%">备注</th>
		                </tr>
					</thead>
					<tbody>
					  <tr *ngFor="let item of diseaseInfo;let i = index;">
						<td>{{item.diagTime |  date:"yyyy-MM-dd HH:mm:ss"}}</td>
						<td>{{item.name}}</td>
						<td></td>
						<td>{{item.code}}</td>
						<td><a>查看规则</a></td>
						
					  </tr>	
					  <tr *ngIf="diseaseInfo && diseaseInfo.length == 0">
						<td colspan="5">没有找到相关数据</td>
					  </tr>
					</tbody>
				</table>
			</div>
			<div class="materialTable" *ngIf="isMaterialsTableShow" style="overflow:auto;width: 100%;height: calc(100vh - 493px);">
				<table class="table" style="width: 1600px;">
					 <thead>
		                <tr style="height: 45px;">
		                    <th width="10%">医嘱时间</th>
		                    <th width="8%">医嘱科室</th>
		                    <th width="8%">医嘱医生</th>
		                    <th width="8%">医生职称</th>
		                    <th width="8%">医嘱类型</th>
		                    <th width="8%">名称</th>
		                    <th width="5%">数量</th>
		                    <th width="5%">计数单位</th>
		                    <th width="9%" style="color: red;">关联项目</th>
		                    <th width="5%">单价</th>
		                    <th width="8%">总金额</th>
		                    <th width="8%">医保金额</th>
		                    <th width="10%" style="color: red;">备注</th>
		                   
		                </tr>
					</thead>
					<tbody>
					  <tr *ngFor="let item of materialInfo;let i = index;">
						<td>{{item.optTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
						<td>{{item.deptName}}</td>
						<td>{{item.recipeDocName}}</td>
						<td>{{item.recipeDocTitle}}</td>
						<!--<td>{{item.orderType}}</td>-->
						<td>
							<span *ngIf = "item.orderType == '1'">长期医嘱</span>
							<span *ngIf = "item.orderType == '2'">临时医嘱</span>
							<span *ngIf = "item.orderType == '3'">出院带药</span>
							<span *ngIf = "item.orderType == '4'">出院检治</span>
							<span *ngIf = "item.orderType == '5'">肠外营养</span>
							<span *ngIf = "item.orderType == '9'">其他</span>
						</td>
						<td>{{item.name}}</td>
						<td>{{item.quantity}}</td>
						<td>{{item.unit}}</td>
						<td></td>
						<td>{{item.unitPrice?item.unitPrice+'元':''}}</td>
						<td>{{item.totalAmount?item.totalAmount+'元':''}}</td>
						<td>{{item.amountInsured?item.amountInsured+'元':''}}</td>
						<td></td>
						
						
					  </tr>	
					  <tr *ngIf="materialInfo && materialInfo.length == 0">
						<td colspan="13">没有找到相关数据</td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<my-dialog></my-dialog>